@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
}

.btn {
  @apply inline-block cursor-pointer rounded-md border-2 border-cyan-300 bg-cyan-200 px-3 py-1 font-semibold no-underline shadow-md shadow-cyan-500 duration-500 hover:scale-110 hover:bg-cyan-400;
}

.input {
  @apply block w-full rounded-lg border-2 p-2.5 placeholder-gray-400 outline-none  focus:border-white focus:ring-2 focus:ring-black sm:text-sm;
}

.problem_btn {
  @apply inline-block cursor-pointer rounded-md border-2 px-3 py-1 font-semibold no-underline shadow-md shadow-cyan-500 duration-500 hover:scale-110;
}

.table_problem {
  @apply whitespace-normal px-4 py-4 text-center text-sm font-medium;
}

.table_heading {
  @apply w-0 px-6 py-3 text-center font-medium;
}

.DescriptionNav {
  @apply cursor-pointer font-bold text-gray-400  hover:text-black;
}

.testcase_btn {
  @apply relative cursor-pointer items-center whitespace-nowrap rounded-lg bg-cyan-400 px-3 py-1 text-[.9rem] font-medium text-white transition-all hover:bg-cyan-600;
}

.cm-focused {
  outline: none !important;
}

.split {
  display: flex;
  flex-direction: row;
}

.gutter {
  background-color: #eaeaea;
  background-repeat: no-repeat;
  background-position: 50%;
}
.gutter:hover {
  background-color: #0a84ff;
}

.gutter.gutter-horizontal {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==");
  cursor: col-resize;
}

.gutter.gutter-vertical {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=");
  cursor: row-resize;
}

code {
  border-radius: 5px;
  border-width: 1px;
  font-family: sans-serif;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1rem;
  padding: 0.15rem;
  letter-spacing: 1px;
  white-space: pre-wrap;
  background-color: hsla(0, 0%, 59%, 0.07);
  border-color: rgba(99, 100, 101, 0.12);
  color: black;
}
